<input id="prob-search" class="form-control" placeholder="... Type to search problems">

<script>

  function isSubseq(text, pattern) {
    pattern = pattern.toLowerCase().replace(/\s+/g, '');
    text = text.toLowerCase().replace(/\s+/g, '');
    console.log(text, pattern);
    var i = 0, j = 0;
    while (i < text.length && j < pattern.length) {
      if (text[i] == pattern[j]) {
        i++;
        j++;
      } else {
        i++;
      }
    }
    if (j < pattern.length) return false;
    return true;
  }

  $(document).ready(function(){
    $("#prob-search").keyup(function() {
      var val = $("#prob-search").val();
      var q = $(".problem");
      for (i = 0; i < q.length; i++) {
        var name = $(q[i]).find("h3").data("name");
        var flag = isSubseq(name, val);
        if (flag && $(q[i]).hasClass("problem-hidden")) {
          $(q[i]).removeClass("problem-hidden");
        } else if (!flag && !$(q[i]).hasClass("problem-hidden")) {
          $(q[i]).addClass("problem-hidden");
        }
      }
    });
  });
</script>
