
.problem-name {
  font-variant: small-caps;
}
.problem-input, .problem-question {
  .subt {
    font-family: "Droid Serif", sans-serif;
    text-align: right;
  }
  .desc {
    font-family: "Droid Serif", sans-serif;
  }
}
.problem-hidden {
  display: none;
}
