
.problem-name, .pname {
  font-variant: small-caps;
}
.problem-input, .problem-question, .problem-reductions {
  .subt {
    font-family: "Droid Serif", sans-serif;
    text-align: right;
  }
  .desc {
    font-family: "Droid Serif", sans-serif;
  }
}
.problem-reduction .desc {
  font-size: 80%;
}
.problem-hidden {
  display: none;
}



.site-page-link:not(:last-child) {
  margin-right: 20px;
}
.site-page-link {
  color: #111;
  line-height: 1.5;
}
.container {
  max-width: calc(800px - (30px * 2)) !important;
}
